p {
      color: green;
      font-weight: bold;
    }

p a {
  color: rosybrown;
}

h1, h2, h3 {
  color: red;
}

h4, h5, h6 {
  color: blue;
}

.lavender-bg {
  background-color: lavender
}

.underline-text {
  text-decoration: underline
}

p:nth-child(odd) {
  background: silver;
}